!zshrc
!zprofile
!vimrc
!/bin/
!bashrc
!bash_profile
!/.config/
!commit_template
!gitignore_global
!/README.md
!/LICENSE
!.gitignore
!/scripts/close_sns_apps_in_macos.sh
!/common/chrome-theme/
!/common/config/nvim/

/*
/.**
